:root {
    --primary-color: #283841;
    --secondary-color: #c1c3c5;
    --tertiary-color: #3a96a0;
}
* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary-color);
    color: #ffffff;
}
.header-accent {
    background-color: var(--secondary-color);
    height: 50px;
    width: 300px;
    position:absolute;
    display: inline-block;
}
header h1 {
    display: inline-block;
    color: var(--primary-color);
    margin: 5px 10px 5px 30px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: var(--secondary-color);
    text-decoration: none;
}
p {
    font-size: 16px;
}
.section-title {
    font-size: 48px;
    display: inline-block;
    padding: 0 50px 20px 50px;
    border-right: 3px solid;
    margin-right: 35px;
    color: #283841;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width:25%;
  }
  .primary-border {
    border-color: var(--primary-color);
  }